.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* ### Primary

- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%)

### Neutral

Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%) */

@font-face {
    font-family: 'inter';
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('ttf2');
    font-weight: 400 700 800;
}

.inter400 {
    font-weight: 400;
    font-family: 'inter';
}

.inter700 {
    font-weight: 700;
    font-family: 'inter';
}

.inter800 {
    font-weight: 800;
    font-family: 'inter';
}

.f15 {
    font-size: 15px;
}

.m_0 {
    margin: 0px;
}

.line_h {
    line-height: 1.7rem;
}

.font_gb {
    color: hsl(233, 8%, 79%);
}

.font_dgb {
    color: #00001a
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #e7a94b;
  }

body {
    background-color: #fefdf9;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    height: 80%;
    width: 80%;
    min-width: 1152px;
    min-height: 680px;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.navlink_section {
    display: block;
    align-self: end;
    justify-content: space-evenly;
}

.navlink {
    margin-left: 1.5rem;
    font-size: 15px;
    text-decoration: none;
}

.display_grid {
    /* background-color: rgba(100, 100, 100, 0.3); */
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto minmax(0, 1fr) auto;
    gap: 2rem;
    margin: 3rem 0rem 3rem 0rem;
}

.navlink_section {
    display: block;
    align-self: end;
    justify-content: space-evenly;
}

.navbutton_mobile{
    align-self: end;
    display: none;
}

.mobile_nav_menu{
    display: none;
}

.mobile_nav_screen_overlay{
    display: none;
}

.headline_image_section {
    height: fit-content;
    grid-column: 1 / span 2;
    grid-row: 1;
}

.headline_image_desktop {
    width: 100%;
    max-height: 360px;
    display: block;
}

.headline_image_mobile {
    display: none;
}

.headline_title {
    grid-column: 1;
    grid-row: 2;
    font-size: 1.8rem;
}

.title_lh {
    line-height: 3.5rem;
}


.headline_desc {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headline_desc_button {
    background-color: #f25d51;
    color: #fff;
    cursor: pointer;
    width: 12rem;
    height: 2.5rem;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.headline_desc_button:hover {
    background-color:#e7a94b;
}

.sideline_articles {
    background-color: #00001a;
    color: #fff;
    grid-column: 3;
    grid-row: 1 / span 2;
    padding: 2rem;
}
.sideline_articles p{
    color: hsl(233, 8%, 79%);
}

.sideline_articles h1 {
    font-size: 2.5rem;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

.sideline_articles h3 {
    margin-top: 0rem;
    margin-bottom: -0.5rem;
}

.side_article_container {
    margin-top: 2rem;
    padding-bottom: 1.5rem;
}

.border_b {
    border-bottom: 1px solid white;
}

.sideline_articles_header {
    color: #e7a94b;
}

.bottom_article_image {
    max-height: 150px;
}

.bottom_text_container {
    width: fit-content;
    margin-left: 1.2rem;
    margin-top: -1.5rem;
}

.bottom_text_container h3 {
    margin-top: -0.0rem;
}

.bottom_text_container p {
    margin-top: -0.0rem;
}

.bottom_article {
    display: inline-flex;
    max-height: 150px;
}


/* MOBILE */
@media screen and (max-width: 1250px) {
    .display_grid {
        grid-template-columns: 100%;
        grid-template-rows: auto minmax(6, 1fr) auto;
    }

    .container {
        height: 100%;
        width: 60vh;
        max-width: 85%;
        min-width: 340px;
        min-height: 0px;
        margin: auto;
    }

    .navlink_section {
        display: none;
        align-self: end;
        justify-content: space-evenly;
    }
    
    .navbutton_mobile{
        align-self: end;
        display: block;
    }

    .mobile_nav_menu{
        background-color:#fefdf9;
        z-index: 2;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 300px;
        height: 500%;
    }
    .mobile_menu_close{
        margin-left: 80%;
        margin-top: 1.5rem;
    }

    .mobile_nav_links{
        display: flex;
        height: 350px;
        flex-direction: column;
        margin-top: 40%;
        justify-content: space-evenly;
        font-size: 3rem;
    }

    .navlink {
        font-size: 1.5rem;  
    }

    .mobile_nav_screen_overlay{
        z-index: 1;
        position: absolute;
        display: block;
        background-color: rgba(0, 0, 0, 0.6);
        top:0;
        right:0;
        width: 100%;
        height: 500%;
    }

    .headline_image_section {
        height: fit-content;
        grid-column: 1;
        grid-row: 1;
    }

    .headline_image_desktop {
        display: none;
    }

    .headline_image_mobile {
        width: 100%;
        height: auto;
        display: block;
    }

    .headline_title {
        grid-column: 1;
        grid-row: 2;
        font-size: 1.5rem;
        margin-bottom: 0rem;
    }

    .title_lh {
        line-height: 3.2rem;
    }


    .headline_desc {
        grid-column: 1;
        grid-row: 3;
        margin-bottom: 2rem;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .headline_desc_button {
        height: 3rem;
    }

    .sideline_articles {
        background-color: #00001a;
        color: #fff;
        grid-column: 1;
        grid-row: 4;
        padding: 1rem;
        margin-bottom: 2.5rem;
    }
    
    .bottom_text_container h3 {
        margin-top: -0.5rem;
    }
    
    .bottom_text_container p {
        margin-top: -0.5rem;
    }
}